*{
    margin: 0;
    padding: 0;
}
header{
    background-color: lightgrey;
    padding: 1px;
}
.button-primary{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px 25px 135px;
    padding: 10px 0;
    
}
.nav-greating{
    font-size: 52px;
    font-family: sans-serif;
}
span{
    color: orangered;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
   
}
nav ul li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 500;

}