*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #FFF8F3;
    padding: 1px;
    font-family: 'Inter', sans-serif;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 131px;
}
.button-primary{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding: 10px 0;
    
}
.nav-greating{
    font-size: 52px;
    font-family: sans-serif;
}
span{
    color: orangered;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
   
}
nav ul li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 500;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}
.banner .banner-image img{
    width: 400px;
    height: 500px;
}
.banner-text {
    max-width: 500px;
}
.banner-greating{
    font-size: 45px;
font-style: normal;
font-weight: 600;
color: #181818;
}
.banner-title{
    font-size: 85px;
font-style: normal;
font-weight: 700;
margin-bottom: 20px;
color: #181818;
}
.banner_content{
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 30px;

}
.banner button{
    margin-right: 20px;
}
/* banner part end */


/* Main section part start */
.section_main{
    border-radius:  10px;
    background-color: #FFF8F3;
    max-width: 1140px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 80px 0px;
}
.section_title{
    color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
max-width: 827px;
margin: 0 auto;
}
.section_description{
    color: #757575;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
max-width: 827px;
margin: 30px auto;
}

.about_other{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 827px;

    margin: 30px auto;
}
.about_informaton{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.about > h4{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.flex_part{
    margin-top: 120px;
}
.flex_box{
    display: flex;
    justify-content: space-between;
    margin: 0px 261px;

}
.skill{
    padding: 20px;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 10px;
}
.flex_title{
    font-size: 18px;
    font-weight: 600;
    color:#181818;
}
.flex_discription{
    max-width: 200px;
    flex-direction: column;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}
.flex_image{
    margin: 15px 0px;
    border-radius: 5px;
}

/* Main section part end */